body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  width: 80%;
  margin: 25px auto 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow-wrap: break-word;
  word-wrap: break-word;
  border-radius: 10px;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.route-info,
.table-container {
  margin-bottom: 30px;
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  padding: 10px;
  border: 1px solid #ddd;
}

table th {
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 1.3em;
  text-align: left;
  color: #ddd;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.path-box {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: inline-block;
  font-size: 1.2em;
}

.underline-text {
  text-decoration: underline;
}

.path {
  font-family: monospace;
  font-size: 1.3em;
}

.text-gray {
  color: gray;
}

.not-matched {
  font-family: "Agency FB", sans-serif;
  font-size: 1.2em;
  color: red;
  text-decoration: line-through;
  font-weight: bold;
}

.matched {
  font-family: "Agency FB", sans-serif;
  font-size: 1.2em;
  color: #016909;
  font-weight: bold;
}

.not-checked {
  font-family: "Agency FB", sans-serif;
  font-size: 1.2em;
  color: #808080;
  font-weight: bold;
}

.method {
  font-family: monospace;
  font-size: 1.5em;
  font-weight: bold;
  color: #5d5b5b;
}

.callable {
  font-family: "Berlin Sans FB Demi", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #5d5b5b;
}

.closure {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #5d5b5b;
}

.devMode {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #5d5b5b;
}

.table-head {
  /*background-color: #0c0c0c;*/
  background-color: #383838;
}


.value-cell {
  width: 65%;
}
button {
  background-color: #818181;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  cursor: pointer;
}
.ms {
  font-family: "Comic Sans MS", sans-serif;
}



.success { color: green; }
.redirection { color: yellow; }
.client-error { color: red; }
.server-error { color: red; }

.info-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.left-info, .right-info {
  display: flex;
  flex-direction: row;
}


.status-point {
  font-family: "Berlin Sans FB Demi", serif;
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.ms {
  font-family: "Comic Sans MS", sans-serif;
}

.inline-box {
  margin-bottom: 30px;
  background-color: #e6e6e6;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  display: inline-block;
  overflow: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: calc(100% - 20px);
}

.error {
  color: red;
  font-weight: bold;
  font-size: 1em;

}

.error-message {
  font-family: monospace;
  font-size: 1em;
  color: red;
}

.timestamp {
  padding-bottom: 0;
  padding-top: 4%;
}

.inline-box-error {
  margin: 0 auto;
  width: 40%;
  background-color: #e6e6e6;
  padding: 10px;
  font-size: 1.3em;
  border-radius: 10px;
  border: 1px solid #808080;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  word-wrap: break-word;
  overflow: auto;

}
.backArrow{
    font-size: 1.5em;
    color: #808080;
    cursor: pointer;
}
.backArrowContainer{
  width: 80%;
  margin: 25px auto 0;
}